body {
    font-family: Arial, sans-serif;
    background-color:lightgreen;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}


.breed {
    margin-bottom: 40px;
    background-color: #deb887; 
    border-radius:10px solid;
    box-shadow: 0 4px 8px black;
}

.breed-info {
    padding: 20px;
}

.breed-info img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}


.titulo {
    text-align: center;
    background-color: #ff7f50; 
    color: #fffacd; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; 
    border: 2px solid black;
    box-shadow: 5px 5px 10px black
}


h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


p {
    line-height: 1.6;
    margin-bottom: 15px;
}
 
.Volver{
    display: flex;
    justify-content: end;
}